<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ihm.stoaliment">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".controleur.CreateChannel"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".authentification.inscription.InscriptionActivity"
            android:windowSoftInputMode="adjustUnspecified" />
        <activity android:name=".consommateur.produit.DisplayProduit" />
        <activity android:name=".authentification.AuthentificationActivity" />
        <activity android:name=".consommateur.autour.GeolocalisationActivity" />
        <activity android:name=".consommateur.producteur.DetailProducteurActivity" />
        <activity android:name=".producteur.abonneList.AbonneListAdapter" />
        <activity android:name=".controleur.ConsommateurControlleur" />
        <activity android:name=".producteur.abonneList.AbonneActivity" />
        <activity android:name=".consommateur.produit.DetailProduitActivity" />
        <activity android:name=".producteur.produit.AjoutProduitActivity" />
        <activity android:name=".producteur.accueil.AccueilProducteurActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".consommateur.accueil.AccueilConsommateurActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".producteur.abonneList.AfficheAbonneActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".consommateur.autour.AutourActivity"
            android:parentActivityName=".consommateur.autour.AutourActivity" />
        <activity android:name=".consommateur.accueil.FilterActivity" />
    </application>

</manifest>